<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="{% static "css/indexstyle.css" %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">

  </head>
  <ul class="nav-bar">
    <li><a href="{% url 'homepage' %}">Homepage</a></li>
    <li><a href="{% url 'display' %}">Display</a></li>
    <li><a href="{% url 'detail' %}">Detail</a></li>
    <li><a href="{% url 'about' %}" >About</a></li>
  </ul>
  <body>
    <h1 class="centred-heading">Luka Vlaskalic</h1>
    <p class="centred-text">Capable data professional looking for a role in data analysis or back-end
      development. I have a wide range of experience within purpose-driven startups
      in the energy industry, which has required initiative and the ability to
      learn new skills on the job.
    </p>
    <p class="centred-text">Passionate about working on projects that focus on climate change resolution.</p>
    <p class="centred-text">
      <img src="{% static "images/university.svg" %}" alt="Mortarboard Icon" style="vertical-align:middle;height:50px;;margin:15px 15px">
        1st MPhys Physics with Philosophy (Overall Average Grade - 73%)
    </p>
    <ul class="center-list">
      <li class="link-list">
        <a href="https://www.linkedin.com/in/luka-vlaskalic-bba5988a/"target="_blank">
          <img src="{% static "images/linkedin.svg" %}" alt="LinkedIn Logo" style="height:50px;margin:15px 15px">
        </a>
      </li>
      <li class="link-list">
        <a href="https://github.com/Vlasko/"target="_blank">
          <img src="{% static "images/github.svg" %}" alt="GitHub Logo" style="height:50px;margin:15px 15px">
        </a>
      </li>
    </ul>
    <p class="centred-footer">
      Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect"target="_blank" title="Pixel perfect">Pixel perfect</a> and <a href="https://www.flaticon.com/authors/freepik"target="_blank" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </p>
  </body>
</html>
