<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="{% static "css/indexstyle.css" %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
  </head>
  <ul>
    <li><a href="{% url 'homepage' %}">Homepage</a></li>
    <li><a href="{% url 'display' %}">Display</a></li>
    <li><a href="{% url 'detail' %}">Detail</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
  </ul>
  <body>
    <h1>An example title</h1>
    <p>Some example text</p>
  </body>
</html>
