<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Detail</title>
    <link rel="stylesheet" href="{% static "css/indexstyle.css" %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
  </head>
  <body>
    <ul class="nav-bar">
      <li><a href="{% url 'homepage' %}">Homepage</a></li>
      <li><a href="{% url 'display' %}">Display</a></li>
      <li><a href="{% url 'detail' %}">Detail</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    </ul>
    <h1 class="centred-heading">Raw Data</h1>
    {% if instances %}
    <table>
      <thead>
        <th>Timestamp</th>
        <th>Demand (W)</th>
        <th>Unit Price (p/kWh)</th>
        <th>Price (p)</th>
      </thead>
      {% for instance in instances %}
      <tr>
        <td>{{ instance.timestamp }}</td>
        <td>{{ instance.demand }}</td>
        <td>{{ instance.unit_price }}</td>
        <td>{{ instance.price }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
