html{
  font-family: 'Karla', sans-serif;
  background-color: #E9ACA4;
}

table{
  margin-left: auto;
  margin-right: auto;
}

/* self defined classes */
.centred-text {
  justify-content: center;
  text-align: center;
  color: black;
}

.centred-heading {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  color: #A5E1E9;
}

/* styles related to navigation bar */
.nav-bar {
  font-family: 'Karla', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E9ACA4;
}

ul.nav-bar li{
  float: left;
}

ul.nav-bar li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav-bar li a:hover {
  background-color: #A5E1E9;
  color: black;
}

/* styles related to displaying pictures on hompage */
.column {
  justify-content: center;
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
}

/* styles related to centred unorder list on about page*/
.center-list {
  display: flex;
  justify-content: center;
}

.link-list {
  list-style: none;
  text-align: center;
}
