html{
  font-family: 'Karla', sans-serif;
}

.greyCentred{
  display: flex;
  justify-content: center;
  text-align: center;
  color: grey;
}

.headingCentred{
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  color: #ffcccc;
}

.linksCentred{
  display: flex;
  justify-content: center;
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
}

/* These settings should only be for the navigation bar */
.navigationBar{
  font-family: 'Karla', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: yellow;
}

li{
  float: left;
}

li a{
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
